# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.




# Claude Files
.mcp.json
CLAUDE.md

# Personal files
Notes.md

# Documentation and local files
docs/
migrations/
Todo.md
README.md
*.md

#Sanity dataset 

# Sanity Scripts
Scripts

/sanity/dataset
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.jss
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/node_modules

backups/*.tar.gz
