@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
  }
}